In [4]:
x=20

In [5]:
if x>10 :
  print ("if x is greater than 10")

if x is greater than 10

In [9]:
x=20
if x>10 :
 print ("x is greater than 10")
if x<10:
  print("x less than 10")

x is greater than 10

In [16]:
x=10
if x>10:
 print ("x is greater than 10")
if x<10:
  print("x less than 10")
if x== 10 :
  print("x is equal to 10")

x is equal to 10

In [21]:
x=int(input("enter the mark"))
if x>=25:
 print ("pass")
if x<25:
 print ("fail")

enter the mark30
pass

In [22]:
x=int(input("enter the salary"))
if x>=250000:
  print("taxable")
  print(x*10/100)
if x<250000:
    print("no tax")

enter the salary350000
taxable
35000.0